@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0F1624;
    color: #FFFFFF;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    box-shadow: 8px 8px 24px -16px rgba(66, 68, 90, 1);
}

.menu>ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

li {
    list-style-type: none;
}

a {
    color: White;
    text-decoration: none;
}

a:hover {
    background: -webkit-linear-gradient(#13ADC7, #6978D1, #945DD6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 3px 1px 6px rgba(148, 93, 214, 1);
    font-size: 1rem;
    cursor: pointer;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#13ADC7, #6978D1, #945DD6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__social__icons {
    display: flex;
    gap: 10px;
    font-size: 1.3em;
}

.fa-brands:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(#13ADC7, #6978D1, #945DD6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1em;
    box-shadow: 3px 1px 6px rgba(148, 93, 214, 1);
}

.hero {
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero>div {
    width: 50%;
}

.hero__text>h1 {
    margin: 1em 0;
}

.hero__text>p {
    margin: 1em 0;
}

button {
    border-radius: 50px;
    border: none;
    padding: 15px;
    margin: 1em 0;
    padding: 1em;
    font-size: 0.75rem;
    font-weight: bold;
    background: rgb(19, 173, 199);
    background: linear-gradient(90deg, rgba(19, 173, 199, 1) 0%, rgba(105, 120, 209, 1) 47%, rgba(148, 93, 214, 1) 100%);
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects__card {
    width: 5em;
    border: 1px solid wheat;
    display: flex;
    flex-direction: column;
    flex: 1;
}